@use "../global/mixin" as *;

header {
    background-image: url(../../images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100vh;

    @include breakpoint("tablet-small") {
        background-image: url(../../images/desktop/image-header.jpg);
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1.5rem 0;
        position: relative;

        @include breakpoint("desktop") {
            padding: 2rem 2.5rem 0;
        }

        &__logo {
            @include breakpoint("desktop") {
                scale: 1.4;
                margin-left: 2.5rem;
            }
        }

        &__hamburger {
            cursor: pointer;

            @include breakpoint("tablet") {
                display: none;
            }

            &:active {
                transform: translateY(2px);
            }
        }
    }

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block: 5.5rem;

        @include breakpoint("desktop") {
            margin-block: 6.5rem;
        }

        &__primary {
            font-size: var(--40-56);
            font-weight: 900;
            color: var(--white);
            text-align: center;
            margin-bottom: 3.25rem;
            text-transform: uppercase;
            letter-spacing: clamp(0.390625rem, 0.3003rem + 0.3852vw, 0.546875rem);

            @include breakpoint("desktop") {
                margin-bottom: 6rem;
            }
        }
    }
}