@use "../global/mixin" as *;

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.figure__img {
    display: block;
    width: 100%;
}

.about {
    @include breakpoint("tablet-small") {
        margin-inline: var(--tablet-small-mx);
    }

    @include breakpoint("tablet") {
        margin-inline: var(--tablet-mx);
    }

    @include breakpoint("desktop") {
        display: flex;
        align-items: center;
        max-width: var(--max-width);
        margin-inline: auto;
    }

    &__text-box {
        padding: 4rem 1.5rem;
        text-align: center;

        @include breakpoint("desktop") {
            padding: 0;
            text-align: left;
        }

        &__title {
            font-size: var(--32-40);
            font-weight: 900;
            margin-bottom: 1.5rem;
        }

        &__paragraph {
            font-family: "Barlow", sans-serif;
            font-weight: 600;
            font-size: 1.125rem;
            color: var(--very-dark-grayish-blue);
            margin-bottom: 2rem;
            letter-spacing: -.128571px;
            line-height: 1.5;
        }

        &__link {
            text-transform: uppercase;
            font-size: .9375rem;
            font-weight: 900;
            display: inline-block;

            a {
                padding-inline: .5rem;
                line-height: 25px;
            }

            .decoration {
                height: 10px;
                border-radius: 1.75rem;
                opacity: 25%;
                transform: translateY(-100%);
                position: relative;
                z-index: -100;
            }

            a:hover~.decoration {
                opacity: 1;
            }
        }
    }
}

.services {
    padding-inline: 1.5rem;
    padding-block: 100% 3.75rem;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint("tablet") {
        padding-top: 60%;
    }

    &__title {
        @extend .about__text-box__title;
        font-size: 1.75rem;
    }

    &__paragraph {
        @extend .about__text-box__paragraph;
        font-size: 1rem;
        margin: 0 auto;

        @include breakpoint("tablet-small") {
            margin-inline: var(--tablet-small-mx);
        }

        @include breakpoint("tablet") {
            margin-inline: var(--tablet-mx);
        }

        @include breakpoint("desktop") {
            max-width: var(--max-width-small);
            margin-inline: auto;
        }
    }
}

.graphic {
    background-image: url("../../images/mobile/image-graphic-design.jpg");

    @include breakpoint("tablet") {
        background-image: url("../../images/desktop/image-graphic-design.jpg");
    }
}

.graphic-text {
    color: var(--graphic-design-text);
}

.photography {
    background-image: url("../../images/mobile/image-photography.jpg");

    @include breakpoint("tablet") {
        background-image: url("../../images/desktop/image-photography.jpg");
    }
}

.photography-text {
    color: var(--photography-text);
}

.testimonial {
    @extend .about__text-box;
    text-align: center;
    grid-column-start: span 4;
    display: grid;
    row-gap: 4rem;
    column-gap: 1.875rem;

    @include breakpoint("desktop") {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5rem;
        margin: 10rem 10%;
    }

    &__title {
        font-size: var(--16-20);
        color: var(--dark-grayish-blue);
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 4px;
        grid-column: 1 / -1;
    }

    &__client {
        margin-inline: auto;

        @include breakpoint("tablet-small") {
            margin-inline: var(--tablet-small-mx);
        }

        @include breakpoint("tablet") {
            margin-inline: var(--tablet-mx);
        }

        @include breakpoint("desktop") {
            margin-inline: 0;
        }

        &__img {
            border-radius: 50%;
            width: 25%;
            margin-bottom: 2rem;
        }

        &__content {
            @extend .about__text-box__paragraph;
            color: var(--very-dark-desaturated-blue);
        }

        &__name {
            font-size: 1.125rem;
            font-weight: 900;
            letter-spacing: -0.128571px;
            margin-bottom: .5rem;
        }

        &__jobTitle {
            font-size: .875rem;
            font-family: "Barlow", sans-serif;
            font-weight: 600;
            color: var(--dark-grayish-blue);
        }
    }
}

.projects__img {
    width: 100%;
    display: block;
}